.sidebar {
  width: fit-content;
  background-color: var(--color-primary-100);
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-right: var(--color-primary-700) 1.5px solid;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  overflow-y: auto;
  height: 100vh;
  z-index: 1000;
}

.sidebar-title {
  font-family: var(--font-secondary);
  font-size: var(--text-2xl);
  font-weight: var(--weight-bold);
  color: var(--color-primary-500);
  margin-bottom: 11.8rem;
  width: auto;
}

.sidebar-nav {
  display: flex;
  flex-direction: column;
  gap: 2.7rem;
  font-size: var(--text-lg);
  font-weight: var(--weight-semibold);
  color: var(--color-primary-500);
}

.nav-link {
  text-decoration: none;
  color: inherit;
}

.nav-link.active {
  text-decoration: underline;
}

.signout-button {
  background-color: var(--color-primary-700);
  color: var(--color-neutral-white);
  border-radius: 9999px;
  padding: 0.5rem 1.5rem;
  font-size: var(--text-md);
  transition: background 0.2s ease;
}

.signout-button:hover {
  background-color: var(--color-primary-600);
}
