.dashboard-card {
  width: 18.75rem;
  height: 11.25rem;
  background-color: #6b5e47;
  color: white;
  font-size: 1rem;
  font-weight: 600;
  display: flex;
  align-items: flex-end;
  padding: 1rem;
}

.card-content {
  padding: 0;
}
