.sidebar {
  width: 18rem;
  background-color: #f6f9f3;
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-right:  #1e321c 1.5px solid;
}

.sidebar-title {
  font-size: 2rem;
  font-weight: bold;
  color: #273520;
  margin-bottom: 12rem;
}

.sidebar-nav {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
  font-size: 1.4rem;
  font-weight: 600;
  color: #273520;
}

.nav-link {
  text-decoration: none;
  color: inherit;
}

.nav-link.active {
  text-decoration: underline;
}


.signout-button {
  background-color: #1e321c;
  color: white;
  border-radius: 9999px;
  padding: 0.5rem 1.5rem;
  font-size: 1.125rem;
  transition: background 0.2s ease;
}

.signout-button:hover {
  background-color: #2e4d2a;
}
